{%extends 'layout.html'%}
{%block content%}
  {%for post in posts%}
  <article class="media content-section">
    <div class="media-body">
      <!-- <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted }}</small>
      </div>
      <h2><a class="article-title" href="#">{{ post.question }}</a></h2>
      <p class="article-content">{{ post.answer }}</p> -->

      <h2><a class="article-title">{{ post.question }}</a></h2>
      <p class="article-content">Answer : {{ post.answer }}</p>
    </div>
    <style>
      h2{
        color: rgb(182, 223, 252);
      }
    </style>
  </article>
  {%endfor%}
{%endblock content%}
